@font-face {
  font-family: Trebuchet;
  src: url(../assets/fonts/trebuchet.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
body {
  background-color: #3b3f45;
  border: 20px solid #fff;
  font-family: "Trebuchet", Arial, sans-serif;
  line-height: 1.3;
}
header {
  margin-bottom: 30px;
}
header span {
  font-size: 25px;
}
header,
main .btn {
  text-align: center;
  color: #eb7773;
  background-color: #4a4f56;
  padding: 20px 5%;
  font-size: 20px;
}
form {
  margin: 0px auto;
  width: 50%;
}
.list {
  margin-bottom: 30px;
}
.list li {
  list-style: none;
  background-color: #88839e;
}
ul li:nth-child(even) {
  background-color: #7a7593;
}
label {
  display: block;
  padding: 5px;
  color: #fff;
  border-top: 2px solid #88839e;
  border-bottom: 2px solid #88839e;
}
label:hover {
  background-color: #625e77;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
label:active {
  background-color: #eb7773;
}
.name {
  display: inline-block;
  font-size: 26px;
  padding: 5px;
}
.list input[type="checkbox"]:checked ~ span {
  color: #a49eb2;
  text-decoration: line-through;
}
/*My Checkbox*/
.checkbox {
  display: inline-block;
  padding: 10px;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

  border-radius: 3px;
  position: relative;
}
.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.checkbox:checked:after {
  content: "\2714";
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #424242;
}
/*My Checkbox*/
.title {
  word-spacing: -1px;
  font-size: 16px;
  color: #cdcbd6;
  margin-left: 0px;
  vertical-align: 2px;
}
.title::before {
  content: "( ";
}
.title::after {
  content: " )";
}
.button {
  display: inline-block;
  padding: 15px 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #eb7773;
  background-color: #625e77;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #3b3f45;
}
.button:active {
  background-color: #eb7773;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
