$style: "header";
.#{$style} {
    background: url("../img/header_bg.jpeg") no-repeat center;
    background-size: cover;
    &__container {
        @include flex(center,
        center,
        column);
        min-height: 100vh;
    }
    &__title {
        @include text($big-logo-size,
        700,
        $light-color);
        text-transform: uppercase;
        letter-spacing: 4.8px;
        margin-bottom: 10px;
    }
    &__logo {
        color: $light-color;
        @include transition();
        &:hover {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
        }
    }
    &__subtitle {
        @include text($header-subtitle-size,
        400,
        $light-color);
        letter-spacing: 6.02px;
        margin-bottom: 50px;
    }
    &__form {
        width: 100%;
        max-width: 650px;
        @include flex(center,
        center);
        margin-bottom: 100px;
    }
    &__input {
        width: 100%;
        max-width: 500px;
        text-align: center;
        background-color: $light-color;
        height: 60px;
        border: none;
        border-left: 5px solid transparent;
        outline: none;
        @include transition();
        &::placeholder,
        &:focus {
            @include text($header-small-size,
            400,
            $header-placeholder-color);
            letter-spacing: 2.8px;
        }
        &:hover,
        &:focus {
            border-left: 5px solid $btn-color;
        }
    }
    &__btn {
        @include text($header-small-size,
        300,
        $light-color);
        font-family: $secondary_font;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        outline: none;
        background-color: $btn-color;
        border: 2px solid $light-color;
        @include flex(center,
        center);
        padding: 0 50px 0 30px;
        height: 60px;
        cursor: pointer;
        position: relative;
        @include transition();
        &:hover {
            background-color: rgba($btn-color, 0.5);
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
        }
    }
    &__btn:hover &__icon {
        transform: scale(1.6);
        transform: translateX(-310%);
    }
    &__icon {
        position: absolute;
        fill: $light-color;
        height: 23px;
        width: 23px;
        right: 15px;
        @include transition(transform);
    }
    &__scroll-wrapper {
        text-align: center;
        position: relative;
        @include transition();
        &:hover {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
        }
    }
    &__scroll-text {
        @include text($header-small-size,
        400,
        $light-color);
        letter-spacing: 2.8px;
        display: block;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 20px;
            right: 50%;
            height: 8px;
            width: 8px;
            border-left: 2px solid $light-color;
            border-bottom: 2px solid $light-color;
            transform: rotate(-45deg);
            animation: arrow 1.2s infinite alternate;
        }
    }
    &__nav {
        background-color: $btn-color;
        padding: 28px 0;
    }
    &__nav-container {
        @include flex(space-between,
        center,
        row);
        text-transform: uppercase;
    }
    &__nav-logo {
        @include text($small-logo-size,
        700,
        $light-color);
        letter-spacing: 2.4px;
        display: inline-block;
        @include transition();
        &:hover {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
        }
    }
    &__nav-list {
        @include flex(center,
        stretch,
        row);
    }
    &__nav-item {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
        @include transition();
        &:hover {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
        }
    }
    &__nav-link {
        font-family: $secondary_font;
        @include text($header-small-size,
        400,
        $light-color);
        position: relative;
        &::after {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: "";
            background-color: rgba(255, 255, 255, 0.75);
            height: 2px;
            transition: all 0.4s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
    @keyframes arrow {
        from {
            transform: translateY(0px) rotate(-45deg);
        }
        to {
            transform: translateY(10px) rotate(-45deg);
        }
    }
}