@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap");
//fonts
$main-font: "Josefin Sans",
sans-serif;
$secondary_font: "Aleo",
serif;
//colors
$dark-color: #232323;
$light-color: #ffffff;
$header-placeholder-color: #999999;
$btn-color: #5474fd;
$text-color: #e8e8e8;
$icon-tick-color: #ff6363;
$icon-cool-color: #00a2ff;
$section-bg-color: #333333;
$fourth-sec-name-color: #fefefe;
$black-color: #000;
//sizes
$big-logo-size: 48px;
$small-logo-size: 24px;
$header-subtitle-size: 22px;
$header-small-size: 14px;
$section-title-size: 36px;
$section-text-size: 16px;
$quote-size: 18px;
$section-subtitle-size: 20px;