$style: "services";
.#{$style} {
    @include flex(center, center, column);
    background: url("../img/services.jpeg") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    max-width: 100%;
    padding: 80px 0 80px;
    @media screen and (min-width: 576px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 960px) {
        padding: 127px 0 110px;
    }
    &__container {
        text-align: center;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__text-wrapper {
        padding: 0 25px 25px;
        @media screen and (min-width: 576px) {
            padding: 0 50px 25px;
        }
        @media screen and (min-width: 960px) {
            padding: 0 174px 30px 182px;
        }
    }
    &__text {
        @include text($header-text-size-mobile,
        300,
        $white-color);
        line-height: 1.62;
        span {
            display: block;
        }
        @media screen and (min-width: 576px) {
            font-size: $section-title-size;
        }
        @media screen and (min-width: 960px) {
            font-size: $main-text-size;
        }
    }
}