$style: "services";
.#{$style} {
    @include flex(center, center, column);
    background: url("../img/services.jpeg") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    max-width: 100%;
    padding: 127px 0 110px;
    &__container {
        text-align: center;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__text-wrapper {
        padding: 0 174px 30px 182px;
    }
    &__text {
        @include text($main-text-size,
        300,
        $white-color);
        line-height: 1.62;
        span {
            display: block;
        }
    }
}