@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
//fonts
$main-font: "Lato",
sans-serif;
//colors
$white-color: #ffffff;
$black-color: #000;
$text-color: #3c3c3c;
//sizes
$header-title-size: 54px;
$header-text-size: 15px;
$header-text-size-mobile: 18px;
$main-title-size: 34px;
$main-title-size-mobile: 25px;
$main-text-size: 16px;
$section-title-size: 20px;
$section-text-size: 14px;
$contact-us-size: 30px;