@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
//colors
$title-color: #3c3c3c;
$text-color: #1d1d1d;
$name-color: #282528;
$profession-color: #646464;
$hover-color: #00aed9;
$white-color: #fff;
$black-color: #000;
$blue-color: #0292b6;
$line-color: #dddbdb;
//sizes
$title-size: 56px;
$text-size: 16px;
$name-size: 18px;
//fonts
$main-font: "Lato",
sans-serif;