@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  /* colors */
  --background-color: #121116;
  --white-color: #fff;
  --kasper-text-color: #19c8fa;
  /* font-sizes */
  --main-size: 20px;
  --footer-size: 15px;
  /* font-family */
  --main-font: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}
main {
  margin: auto;
}
.main {
  text-align: center;
  min-width: 230px;
  margin-bottom: 86px;
}
.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.title {
  font-family: var(--main-font);
  color: var(--white-color);
  margin-bottom: 20px;
  font-size: var(--main-size);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  display: flex;
}

footer {
  color: var(--white-color);
  font-size: var(--footer-size);
  text-align: center;
  font-family: var(--main-font);
}
footer a {
  color: var(--kasper-text-color);
  text-decoration: none;
}
.kasper {
  display: inline-block;
}
.social_wrapper::before {
  content: "";
  display: flex;
  border-top: 1px solid var(--white-color);
  margin-bottom: 21px;
}
