@font-face {
  font-family: Proxima Nova Regular;
  src: url(../assets/fonts/proxima_nova_regular.ttf);
  font-family: Proxima Nova Light;
  src: url(../assets/fonts/proxima_nova_light.ttf);
}
:root {
  /* colors */
  --white: #fff;
  --blue: #2b6aa6;
  --main-text: #000;
  --text-color: #a78d8d;
  /* font-sizes */
  --title-size: 14px;
  --main-size: 14px;
  /* font-family */
  --main-text-font: "Proxima Nova Regular";
  --title-text-font: "Proxima Nova Light";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}
body {
  font-family: var(--main-font);
  background-color: var(--white);
}
section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.block {
  padding: 54px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pic {
  border: 1px solid var(--blue);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  fill: var(--blue);
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}
.pic:hover {
  background-color: var(--blue);
}
.pic:hover svg {
  fill: var(--white);
}
.pic-blue {
  border: 1px solid var(--blue);
  border-radius: 50%;
  background-color: var(--blue);
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  fill: var(--white);
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}
.pic-blue:hover {
  background-color: var(--white);
}
.pic-blue:hover svg {
  fill: var(--blue);
}
.first_icon {
  width: 25px;
  height: 31px;
}
.second_icon {
  width: 27px;
  height: 27px;
}
.third_icon {
  width: 29px;
  height: 25px;
}
h3 {
  font-family: var(--main-text-font);
  font-size: var(--main-size);
  text-align: center;
  color: var(--main-text);
  margin-bottom: 22px;
}
.title {
  font-size: var(--title-size);
  font-family: var(--title-text-font);
  text-align: center;
  width: 220px;
  height: 75px;
  color: var(--text-color);
}
