* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
}

body {
    font-family: $main-font;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px 0;
    @media screen and (min-width: 576px) {
        padding: 0 20px 0;
    }
    @media screen and (min-width: 600px) {
        padding: 0 20px 0;
    }
    @media screen and (min-width: 768px) {
        padding: 0 20px 0;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 20px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 0;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}