$style: "footer";
.#{$style} {
    background-color: $dark-color;
    padding: 20px 0;
    @media screen and (min-width: 576px) {
        padding: 32px 0;
    }
    &__container {
        @include flex(center, center, column-reverse);
        @media screen and (min-width: 576px) {
            @include flex(center, center, column-reverse);
        }
        @media screen and (min-width: 768px) {
            @include flex(space-between, center);
        }
    }
    &__text {
        @include text($footer-text-size, 300, $footer-text-color);
        &--love {
            display: inline-block;
            color: $footer-love-color;
            animation: beatHeart 1s infinite;
            @include transition();
            &:hover {
                animation: none;
                color: $blog-btn-color;
            }
        }
    }
    &__logo {
        @include text($footer-logo-size, 400, $footer-text-color);
        font-family: $title-font;
        animation-play-state: paused;
        &:hover {
            animation: text-shadow 1.5s ease-in-out infinite;
        }
    }
    @keyframes text-shadow {
        0% {
            transform: translateY(0);
            text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
        }
        20% {
            transform: translateY(-0.01em);
            text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b, 0 -0.25em 0 #fefc4b;
        }
        40% {
            transform: translateY(0.02em);
            text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd, 0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
        }
        60% {
            transform: translateY(-0.01em);
            text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd, 0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
        }
        80% {
            transform: translateY(0);
            text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
        }
    }
    @keyframes beatHeart {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(1.1);
        }
        40% {
            transform: scale(1);
        }
        60% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}