$style: "our-services";
.#{$style} {
    background-color: $services-bg-color;
    &__container {
        @include flex(center, center, column-reverse);
        background: url("../img/services_img.png") no-repeat;
        padding: 50px 0;
        background-position: bottom 22% right 0;
        background-size: 100%;
        @media screen and (min-width: 576px) {
            padding: 50px 0;
            background-position: bottom 22% right 0;
            background-size: 60%;
            background-position-x: center;
            @include flex(center,
            center,
            column-reverse);
        }
        @media screen and (min-width: 768px) {
            padding: 50px 0;
            background-position: bottom 22% right 0;
            background-size: 60%;
            background-position-x: center;
            @include flex(center,
            center,
            column-reverse);
        }
        @media screen and (min-width: 1024px) {
            background-position: bottom 60% right 8%;
            background-size: 39.5%;
            padding: 180px 0 150px;
            @include flex(space-around,
            center);
        }
    }
    &__list {
        @include transition(opacity);
    }
    &__list:hover &__item {
        filter: blur(3px);
        opacity: 0.5;
    }
    &__list:hover &__item:hover {
        filter: blur(0px);
        opacity: 1;
    }
    &__item {
        max-width: 252px;
        padding-left: 5px;
        @include flex(stretch,
        stretch,
        column);
        background-color: $light-color;
        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        transition: all 0.5s ease;
        @media screen and (min-width: 576px) {
            max-width: 400px;
            padding-left: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            transform: scale(0.8);
        }
        svg {
            transition: 0.1s;
        }
        &:hover svg {
            transform: translateX(-75px);
            @media screen and (min-width: 576px) {
                transform: translateX(-150px);
            }
        }
    }
    &__item:hover &__text {
        color: white;
    }
    &__item:hover &__icon {
        border: none;
    }
    &__link {
        @include flex();
        min-height: 80px;
        @media screen and (min-width: 576px) {
            min-height: 100px;
        }
    }
    &__text {
        @include text($btn-size,
        700,
        $dark-color);
        @include flex(center,
        center);
        flex: 1;
        text-align: center;
        @include transition();
    }
    &__icon {
        @include flex(center,
        center);
        border-left: 1px solid $black-color;
        min-width: 100px;
        svg {
            @include transition();
        }
    }
    &__title {
        margin-bottom: 20px;
        @media screen and (min-width: 576px) {
            padding-bottom: 80px;
            margin-bottom: 0;
        }
    }
}