@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
//fonts
$title-font: "Roboto",
sans-serif;
$main-font: "Raleway",
sans-serif;
$btn-font: "Open Sans",
sans-serif;
//colors
$header-text-color: #898f8f;
$header-title-color: #ffcc00;
$slider-title-color: #666666;
$slider-text-color: #333333;
$white-color: #ffffff;
$black-color: #000;
//sizes
$header-text-size: 18px;
$header-title-size: 60px;
$slider-title-size: 36px;
$slider-subtitle-size: 24px;
$slider-text-size: 14px;