@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");
//fonts
$title-font: "Pacifico",
cursive;
$main-font: "Raleway",
sans-serif;
//colors
$dark-color: #262626;
$light-color: #ffffff;
$header-btn-color: #ff6033;
$header-bg-color: #f9f8fb;
$gallery-bg-color: #ffe92f;
$gallery-btn-color: #5585a2;
$subscribe-btn-color: #96b92c;
$blog-bg-color: #b07cf7;
$blog-btn-color: #f72b3b;
$services-bg-color: #70bfff;
$contact-form-color: #00c4c4;
$contact-form-focus: #355b82;
$footer-text-color: #b9b9b9;
$footer-love-color: #ff2b58;
$black-color: #000;
//sizes
$header-logo-size: 50px;
$header-nav-title: 16px;
$header-title-size: 60px;
$header-title-mobile: 65px;
$text-size: 17px;
$btn-size: 20px;
$section-title: 90px;
$section-title-mobile: 80px;
$subscribe-title-mobile: 36px;
$subscribe-title-size: 40px;
$blog-number-size: 32px;
$blog-month-size: 21px;
$blog-small-size: 13px;
$section-small-size: 15px;
$footer-text-size: 16px;
$footer-logo-size: 25px;