@font-face {
    font-family: "HansKendrick";
    src: url(../assets/fonts/NeueHansKendrick-Regular.ttf);
}

//colors
$bg-color: #e2e7ec;
$text-color: #1d1d1d;
$white-color: #fff;
$small-text-color: #818181;
//sizes
$title-size: 30px;
$text-size: 22px;
$small-text-size: 13px;
//fonts
$main-font: "HansKendrick";