@font-face {
    font-family: "MuseoSansRounded-100";
    src: url(../assets/fonts/MuseoSansRounded-100.ttf);
}

//fonts
$main-font: "MuseoSansRounded-100";
//colors
$white-color: #fff;
$black-color: #000;
$text-color: #e1e1e1;
$bg-color: #c5c5c8;
$bg-card-color: #111a28;
$red-color: #ed3333;
$blue-color: #29e3ea;
$blue-radio-btn: #1f273f;
$star-orange-color: #f7bf16;
$star-grey-color: #9da1a6;
//sizes
$title-size: 24px;
$text-size: 14px;