* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
}

body {
    background-color: $bg-color;
    font-family: $main-font;
}

a {
    text-decoration: none;
}