@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
//fonts
$main-font: "Quicksand",
sans-serif;
//colors
$white-color: #fff;
$black-color: #000;
$bg-color: #e5eeee;
$text-color: #fbf6e4;
$btn-color: #23ae92;
$line-color: #e66a64;
//sizes
$big-size: 18px;
$middle-size: 16px;
$small-size: 13px;